.questions-container {
  margin: 0 auto;
  background-color: #8534de;
  width: 50vw;
  border-radius: 10px;
}

#header-question p {
  color: #fff;
  padding: 20px 0;
}

#help-questions {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

#help-questions button {
  border: 1px solid #fff;
}

#options {
  text-align: center;
  margin: 20px 0;
}

ul#options {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#options li {
  cursor: pointer;
  background-color: #4a1587;
  margin: 7px 0;
  padding: 15px;
  width: 90%;
  color: #fff;
  border-radius: 10px;
  transition: .5s;
}

#options li:hover {
    background-color: #401572;
}

.correct {
  background-color: #17E817 !important;
}